/* Background styles
-------------------------------------------------- */
body.homepage {
	background:url("/images/background.jpg") no-repeat center center fixed;
	background-size:cover;
	-webkit-transition: all 750ms ease-in;
	-moz-transition: all 750ms ease-in;
	-o-transition: all 750ms ease-in;
	-ms-transition: all 750ms ease-in;
	transition: all 750ms ease-in;
	/* -webkit-transition: opacity 750ms ease-in;
	-moz-transition: opacity 750ms ease-in;
	-o-transition: opacity 750ms ease-in;
	-ms-transition: opacity 750ms ease-in;
	transition: opacity 750ms ease-in; */
}
body.subpage,
body.subpage1,
body.subpage2,
body.subpage3,
body.subpage4 {
	background:url("/images/background-subpage.jpg") no-repeat center center fixed;
	background-size:cover;
	-webkit-transition: all 750ms ease-in;
	-moz-transition: all 750ms ease-in;
	-o-transition: all 750ms ease-in;
	-ms-transition: all 750ms ease-in;
	transition: all 750ms ease-in;
	/* -webkit-transition: opacity 750ms ease-in;
	-moz-transition: opacity 750ms ease-in;
	-o-transition: opacity 750ms ease-in;
	-ms-transition: opacity 750ms ease-in;
	transition: opacity 750ms ease-in; */
}
body.subpage1 {
	background:url("/images/background-subpage1.jpg") no-repeat center center fixed;
	background-size:cover;
}

body.subpage2 {
	background:url("/images/background-subpage2.jpg") no-repeat center center fixed;
	background-size:cover;
	-webkit-transition: all 750ms ease-in;
	-moz-transition: all 750ms ease-in;
	-o-transition: all 750ms ease-in;
	-ms-transition: all 750ms ease-in;
	transition: all 750ms ease-in;
}

body.subpage3 {
	background:url("/images/background-subpage3.jpg") no-repeat center center fixed;
	background-size:cover;
	-webkit-transition: all 750ms ease-in;
	-moz-transition: all 750ms ease-in;
	-o-transition: all 750ms ease-in;
	-ms-transition: all 750ms ease-in;
	transition: all 750ms ease-in;
}

body.subpage4 {
	background:url("/images/background-subpage4.jpg") no-repeat center center fixed;
	background-size:cover;
	-webkit-transition: all 750ms ease-in;
	-moz-transition: all 750ms ease-in;
	-o-transition: all 750ms ease-in;
	-ms-transition: all 750ms ease-in;
	transition: all 750ms ease-in;
}
