/* Background styles
-------------------------------------------------- */
#homepage{
	background:url(/images/background.jpg) no-repeat center center fixed;
	background-size:cover;
}
#subpage{
	background:url(/images/background-subpage.jpg) no-repeat center center fixed;
	background-size:cover;
}
