/* Sticky footer styles
-------------------------------------------------- */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 60px;
}


.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.footer{
	ul{
		padding-left:0 !important;
	}
	li{
		list-style-type: none;
		.nav-link{
		color:$primary__color;
		font-family: 'Rajdhani', sans-serif;
		letter-spacing:0.7px;

		&:hover{
			text-shadow: 0 0 0 #fff;
		}

	}
		a{
			color:$primary__color;
			font-family: 'Saira Condensed', sans-serif;
			font-size:16px;
			padding:0;


		}
		.fa{

			color: #000;
		    background: #d6d4cf;
		    border-radius: 60px;
		    font-size: 10px;
		    padding: 2px;
		    width: 16px;
		    height: 16px;
		    text-align: center;
		    line-height:13px;
		}
		.flag-icon{

		}
		.fa,
		.flag-icon{
			opacity:0.6;
			&:hover{
				opacity: 1;
			}
		}
	}
}
